<div *ngIf="recipe !== undefined">
  <div class="d-flex flex-row" *ngIf="recipe.score === 1">
    <img src="assets/images/star.png" alt="star">
  </div>
  <div class="d-flex flex-row" *ngIf="recipe.score === 2">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
  </div>
  <div class="d-flex flex-row" *ngIf="recipe.score === 3">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
  </div>
  <div class="d-flex flex-row" *ngIf="recipe.score === 4">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
  </div>
  <div class="d-flex flex-row" *ngIf="recipe.score === 5">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
    <img src="assets/images/star.png" alt="star">
  </div>
</div>

