<div *ngIf="recipes !== undefined; else noRecipes">
  <h3>Your recipes</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Recette</th>
      <th scope="col">Durée</th>
      <th scope="col">Score</th>
      <th scope="col">Budget</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td class="col-3">
        <img src="{{recipe.urlPicture}}" alt="recipeImage">
        <a routerLink="/recipe/{{recipe.id}}">
        {{recipe.name}}
      </a>
      </td>
      <td class="col-1">{{recipe.duration}} min</td>
      <td class="col-1">
      <app-stars [recipe]="recipe"></app-stars>
      </td>
      <td>{{recipe.budget}} €</td>
      <td class="col-7">{{recipe.description}}</td>

    </tbody>
  </table>
</div>

<ng-template #noRecipes>
  No Recipes has been created yet.
</ng-template>
