<app-navbar (loginEvent)="userLogged($event)" (tokenEvent)="token($event)"></app-navbar>
<section id="about">
  <hr>
  <h3>ABOUT US</h3>
  <hr>
</section>
<section id="try">
  <hr>
  <h3>TRY OUR API</h3>
  <hr>
  <p>Expliquer le fonctionnment de l'API (GET RECIPE, POST RECIPE) + lien vers le swagger</p>
</section>
<section id="play">
  <app-recipes-list [isButtonDisabled]="disableForm" [token]="this.jwt"></app-recipes-list>
</section>
<section id="team" class="py-6">
  <hr>
  <h3>OUR TEAM</h3>
  <hr>
  <div class="d-flex flex-row justify-content-between">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars.png" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Cyrielle TOUTON</h5>
        <p class="card-text">Back-end Developer - CEO</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars(1).png" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Marie VENDRAN</h5>
        <p class="card-text ">Back-end Developer - CTO</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/aaa.png" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Raphaël PERLES</h5>
        <p class="card-text">Devops specialist - Office Happiness Manager</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars(3).png" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Matthieu MADEJSKI</h5>
        <p class="card-text text-center">Front-end Developer - Influencer</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
