<app-navbar></app-navbar>
<section>
  <h3>About us</h3>
</section>
<section>
  <h3>Try our API</h3>
</section>
<section>
  <app-recipes-list></app-recipes-list>
</section>
<section>
  <h3>Our Team</h3>
  <div class="d-flex flex-row justify-content-between">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cyrielle TOUTON</h5>
        <p class="card-text">Back-end Developer - CEO</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars(1).png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marie VENDRAN</h5>
        <p class="card-text">Back-end Developer - CTO</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars(2).png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Raphaël PERLES</h5>
        <p class="card-text">Devops specialist - Office Happiness Manager</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/avatars/avataaars(3).png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Matthieu MADEJSKI</h5>
        <p class="card-text">Front-end Developer - Influencer</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>Contact Us</h3>
</section>
<app-footer></app-footer>
