//BOOTSTRAP CHANGE
h3{
  margin:0;
}

section{
  padding:10px;
}
section:nth-child(odd){
  background-color : #F9F3EE;
}
section:nth-child(even){
  background-color : #CCF3EE;
}
#team{
  div{
    padding: 20px 0 20px 0;
  }
}

